{% extends 'base.html' %}

{% block title %}APPLY{% endblock title %}

{% comment %} {% load crispy_forms_filters %}  {% endcomment %}
<!-- {% load crispy_forms_tags %} -->
<!-- {% load tailwind_filters %} -->

{% block main %}
<div class="w-screen">
    <div class="container mx-auto flex justify-center">
        <form class="min-w-[400px] flex gap-2 flex-col" action="" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="SUBMIT FORM" class="bg-blue-600 text-white">
        </form>
    </div>
</div>
{% endblock main %}