<nav class="navbar navbar-expand-lg bg-primary navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{%url 'home'%}">SCHOOL MANAGEMENT SYSTEM</a>
      <div class="border-end border-white me-2">&nbsp;</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{%url 'home'%}">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'apply'%}">APPLY</a>
          </li>
          <li class="nav-item">
            <a href="{%url 'about'%}" class="nav-link">ABOUT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>