<section id="sidebar" class="w-0 overflow-hidden bg-blue-600 min-h-[100vh] fixed backdrop-contrast-50" >
    <div class="content p-2">
        <div class="header"></div>
        <ul class="list-group flex flex-col gap-2  text-white text-lg">
            <li class="list-item py-2 hover:text-black hover:bg-gray-200 duration-150 pl-2 {%if request.get_full_path is '/applied_students/?is_approved=true'%} bg-gray-200 text-black {%endif%} "><a href="{%url 'applied_students'%}?is_approved=true">Approved Students</a></li>
            <!-- {%if request.get_full_path is not '/applied_students/?is_approved=true' %}
            <h1>{{request.get_full_path}}</h1>
            {%else%}
            <h1>{{request.get_full_path}}</h1>
            <h4>world</h4>
            {%endif%} -->
            <li class="list-item py-2 hover:text-black hover:bg-gray-200 duration-150 pl-2"><a href="{%url 'applied_students'%}?is_approved=false">Unapproved Students</a></li>
            <li class="list-item py-2 hover:text-black hover:bg-gray-200 duration-150 pl-2"><a href="{% url 'apply' %}">Apply</a></li>
            <li class="list-item py-2 hover:text-red-600 text-red-500 hover:bg-gray-200 duration-150 pl-2"><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
</section>